<%- include('./comm/header.ejs') %>


<div class="container text-center mx-auto p-2" style="">
  <div class="row">
    <div class="col p-2 g-col-6 mt-5" ><%- include('./comm/list.ejs') %></div>
    <div class="col p-2 g-col-6 mt-5"><%- include('./comm/form.ejs') %></div>
  </div>
</div>

<%- include('./comm/footer.ejs') %>
